/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, summary {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.debug{
    border: 1px solid red;
}

/* general */
html {
    scroll-behavior: smooth;
}

:root {
    --header-color: #0084FD;
    --violet-section-color: #9591DD;
    --white-section-color:#FFFFFF;
    --footer-color: #363636;
    --azure-container: #B5DDFF;
    --it-s-free: #EBBE76;
    --color-text-hero: #5E7284
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    padding: 30px;
}

img {
    width: 100%;
    display: block;
}

p {
    font-weight: 700;
    line-height: 1.8;
    color: var(--footer-color);
    margin: 15px;
}

#hero p {
    color: var(--color-text-hero);
}

h2 {

}

h3 {
    font-size: 1.6em;
    padding: 10px;
}

/* UTILITY */
/* general */
.btn {
    background-color: var(--header-color);
    border: 1px solid var(--header-color);
    border-radius: 20px;
    padding: 10px 50px;
    margin: 0 20px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* FLEX */
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}
.gap {
    gap: 20px;
}

.space-btwn {
    justify-content: space-between;
}

.align-items-cent {
    align-items: center;
}


/* TEXT */
.text-center {
    text-align: center;
}
.text-light {
    color: var(--header-color);
}
.text-contrast {
    color: var(--footer-color);
}
.text-vivid {

}

/* BORDER */
.small-rounded {
    border-radius: 20px;
}

.big-rounded {
    border-radius: 40px;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

/* BACKGROUND */
.bg-light {
    background-color: var(--azure-container);
}
.bg-contrast {
    background-color: var(--violet-section-color);
}

/****** PAGE ******/
/* HEADER */
header {
    background-color: var(--header-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 1px 3px var(--header-color);
}

.icons-header {
    font-size: 1.6em;
}

/* fare bene poi la posizione della barra */
/* inzio HAMBURGUER MENÙ */
header nav {
    position: relative;
}

header nav:hover ul {
    display: block;
}

header nav ul {
    position: absolute;
    top: 0;
    right: -20px;
    width: 200px;
    background-color: var(--header-color);
    display: none;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px var(--header-color);
}

header nav ul li {
    padding: 10px;
}

header nav a {
    display: block;
    padding: 5px 10px;
}
/* fine HAMBURGUER MENÙ */

/* MAIN */
section {
    /*  vedere bene w3cs */
    scroll-margin-top: 75;
}


.card {
    padding: 10px;
    margin-bottom: 20px;
}

div.card:first-child {
    padding-bottom: 0;
}

.img-content {
    padding-top: 30px;
}

.img-content img {
    width: 90%;
    margin: 0 auto;
}

.icons {
    font-size: 5em;
    padding: 20px;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 20px;
}

/* ID SPECIFIC */
#hero {
    margin-top: 90px;
}
