/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, summary {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.debug{
    border: 1px solid red;
}

/* general */
html {
    scroll-behavior: smooth;
}

:root {
    --header-color: #0084FD;
    --violet-section-color: #9591DD;
    --white-section-color:#FFFFFF;
    --footer-color: #363636;
    --azure-container: #B5DDFF;
    --it-s-free: #FDC15F;
    --color-text-hero: #5E7284
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
    padding: 30px;
}

img {
    width: 100%;
    display: block;
}

p {
    line-height: 1.8;
}

h2 {
    font-size: 2.2em;
    padding: 20px 0;
}

h3 {
    font-size: 1.6em;
    padding: 10px 0;
}

/* UTILITY */
/* general */
.btn {
    background-color: var(--header-color);
    border-radius: 20px;
    padding: 10px 50px;
    letter-spacing: 2px;
    font-weight: 700;
}

.name {
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.card {
    padding: 20px 0;
    margin-bottom: 30px;
}

/* FLEX */
.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.justify-cnt {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}
.gap {
    gap: 20px;
}

.space-btwn {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}


/* TEXT */
.text-center {
    text-align: center;
}
.text-light {
    color: var(--header-color);
}
.text-contrast {
    color: var(--footer-color);
}
.text-vivid {

}

/* BORDER */
.small-rounded {
    border-radius: 20px;
}

.big-rounded {
    border-radius: 40px;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}

/* BACKGROUND */
.bg-light {
    background-color: var(--azure-container);
}
.bg-contrast {
    background-color: var(--violet-section-color);
}
.bg-white {
    background-color: var(--white-section-color);
}

/****** PAGE ******/
/* HEADER */
header {
    background-color: var(--header-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0px 1px 3px var(--header-color);
}

.icons-header {
    font-size: 1.6em;
}

/* fare bene poi la posizione della barra */
/* inzio HAMBURGUER MENÙ */
header nav {
    position: relative;
}

header nav:hover ul {
    display: block;
}

header nav ul {
    position: absolute;
    top: 0;
    right: -20px;
    width: 200px;
    background-color: var(--header-color);
    display: none;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px var(--header-color);
}

header nav ul li {
    padding: 10px;
}

header nav a {
    display: block;
    padding: 5px 10px;
}
/* fine HAMBURGUER MENÙ */

/* MAIN */
section {
    /*  vedere bene w3cs */
    scroll-margin-top: 75;
}

/* SECTION HERO */

div.card:first-child {
    padding-bottom: 0;
}

#hero p {
    font-weight: 700;
    color: var(--color-text-hero);
}

.img-content {
    padding-top: 30px;
}

.img-content img {
    width: 90%;
    margin: 0 auto;
}

.icons {
    font-size: 5em;
    padding: 20px;
}

.stategic {
    color: white;
    padding: 20px 0;
}

.stategic img {
    padding: 20px 0px 50px 0;
}

.stategic p {
    padding: 20px 0;
    font-weight: 500;
}

/* SECTION PLANNING */
#planning .card {
    color: var(--footer-color);
    font-weight: 700;
}

#planning .btn {
    background-color: var(--violet-section-color);
    border-radius: 50%;
    width: 42px;
    height: 100%;
    padding:  10px 10px ;
    margin: 0px;
    font-weight: 500;
}

#planning a {
    color: var(--footer-color);
}

/* SECTION TESTIMONIALS */
#testimonials h2{
    color: var(--violet-section-color);
}  

#testimonials p {
    font-weight: 500;
    font-size: 1.2em;
}

.img-circle {
    width: 70%;
    aspect-ratio: 1 / 1;
    margin-top: 20px;
}

.img-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials .card {
    background-color: var(--violet-section-color);
    color: var(--white-section-color);
}

p>i {
    font-size: 1.2em;
}

/* SECTION BENEFIT */

#benefit h2 {
    color: var(--white-section-color);
}
#benefit .card {
    background-color: var(--white-section-color);
    color: var(--violet-section-color);
    padding: 20px 30px;
}

#benefit div.card h2 {
    font-size: 3em;
    color: var(--violet-section-color);
    padding: 0;
}

#benefit p {
    padding: 10px 0;
    color: var(--color-text-hero);
}

#benefit .btn {
    background-color: var(--violet-section-color);
    width: 140px;
    padding: 10px 30px;
    margin: 20px 0;
}

/* SECTION ABOUT-US */
#about-us h2 {
    color: var(--violet-section-color);
    font-size: 3em;
}

#about-us p {
    font-size: 1.1em;
}

#about-us .card p {
    color: var(--violet-section-color);
    font-size: 1.8em;
    font-weight: 700;
    padding: 20px 0;
}
 #about-us .btn {
    background-color: var(--violet-section-color);
    padding: 8px 16px;
    width: 210px;
    letter-spacing: 0px;
    font-weight: 500;
 }
.btn span {
    padding: 0 0 0 10px;
}

/* SECTION GET-STARTED */
#get-started .btn {
    background-color: var(--white-section-color);
    color: var(--violet-section-color);
    border-radius: 40px;
    padding: 20px 50px;
    margin: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.1em;
}

/* FOOTER */
footer {
    background-color: var(--footer-color);
    padding: 20px;

}

/* ID SPECIFIC */
#hero {
    margin-top: 90px;
}

#get-started {
    color: var(--white-section-color);
}

#free {
    color: var(--it-s-free);
    font-size: 4em;
    font-weight: 700;
    padding: 20px 0;
}